<mat-toolbar color="primary">
  <span>GraceNote Demo</span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <a href="https://github.com/Mihai-Ionut-Aurel" target="_blank">
      <img  src="../assets/GitHub.png">
    </a>

    <a href="  https://www.linkedin.com/in/mihaiionutaurel/" target="_blank">
      <img src="../assets/LinkedinLogo.png" >
    </a>
  </span>
</mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<div>
  <router-outlet></router-outlet>
</div>
